@use "@/shared/styles/mantine" as *;

.navbar {
  padding-left: spacing(xs);
  padding-right: spacing(xs);

  &__item {
    cursor: pointer;
    height: rem(38);
    padding: 0 rem(16) 0 rem(16);
    position: relative;
    color: light-dark(c('gray.7'), c('dark.1'));
    font-weight: fw(regular);
    font-size: fz(sm);
    border-radius: radius(md);
    transition: all 0.2s ease;
    user-select: none;
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover:not([data-selected='true']) {
      background-color: light-dark(alpha(c('gray.1'), 0.7), alpha(c('dark.5'), 0.4));
      color: light-dark(c('gray.9'), c('dark.0'));
    }

    &[data-selected='true'] {
      background-color: light-dark(alpha(c('primary.1'), 0.35), alpha(c('primary.9'), 0.25));
      color: light-dark(c('primary.7'), c('primary.2'));
      font-weight: fw(medium);
    }

    &::before {
      content: '';
      position: absolute;
      left: rem(4);
      top: rem(8);
      bottom: rem(8);
      width: rem(3);
      background-color: light-dark(c('primary.6'), c('primary.4'));
      border-radius: radius(xs);
      opacity: 0;
      transform: scaleY(0.3);
      transition:
        transform 0.2s ease,
        opacity 0.2s ease;
    }

    &[data-selected='true']::before {
      opacity: 1;
      transform: scaleY(1);
    }
  }
}
