.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  padding: spacing(xs) 0;
  gap: rem(3);
  position: relative;
  text-decoration: none;
  color: light-dark(c(gray.5), c(dark.2));
  transition: color 0.2s ease;
  -webkit-tap-highlight-color: transparent;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(44);
  height: rem(32);
}

.item[data-active] {
  color: light-dark(c(primary.8), c(primary.4));
}

/* Лейбл под иконкой */
.label {
  font-size: rem(10);
  font-weight: fw(600);
  line-height: 1;
  letter-spacing: 0.1px;
  opacity: 0;
  transform: translateY(4px);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.item[data-active] .label {
  opacity: 1;
  transform: translateY(0);
}
