.main {
  background-color: light-dark(c(red.2), c(red.7));
  border-color: light-dark(c(red.4), c(red.6));
  border-radius: calc(0.5rem * var(--mantine-scale));
  border-style: solid;
  padding: calc(0.5rem * var(--mantine-scale));
  border-width: calc(0.1rem * var(--mantine-scale));

  & * {
    color: light-dark(c(red.4), c(red.6));
  }
}
