.main {
  background-color: light-dark(var(--mantine-color-red-2), var(--mantine-color-red-7));
  border-color: light-dark(var(--mantine-color-red-4), var(--mantine-color-red-6));
  border-radius: calc(0.5rem * var(--mantine-scale));
  border-style: solid;
  padding: calc(0.5rem * var(--mantine-scale));
  border-width: calc(0.1rem * var(--mantine-scale));

  & * {
    color: light-dark(var(--mantine-color-red-4), var(--mantine-color-red-6));
  }
}
